<div class="community">
    <h1>Become Member to Our community</h1>
    <h3>Join Our Telegram Group</h3>

    <div class="socialte">
        <a href="https://t.me/+1huyNkQqFENkYWI1" target="_blank">
            <div class="innerte">
                <span class="social-iconte">
                    <i class="icon-telegram fab fa-telegram"></i>
                    <span class="mediate">Telegram</span>
                </span>
                <!-- <span class="countt">
                    Telegram
                </span> -->
            </div>
    </a>
    </div>
</div>

<div class="c">Copyright &copy; iSupport 2022</div>