<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        
      <a class="navbar-brand" href="/"><img class="nav-logo" src="/images/logo.png" class="d-inline-block align-top" alt="logo" width="50" height="50">iSupport</a>
      
    <div class="fund">Setup fundraisers</div>
    </div>
  </nav>